<nav id="header" class="navbar navbar-fixed-top">
    <div id="header-container" class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="brand" class="navbar-brand" href="#">FlyAway</a>

        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav ml-auto">
                <li class="active" ><a href="#">Home</a></li>
                <li class="active" *ngIf="authSrv.isUserLoggedIn()"><a routerLink="/flights/airports">Airports</a></li>
                <li><a href="#about" class="hvr-outline-out button button-border">About</a></li>
                <li><a href="#contact"class="hvr-outline-out button button-border">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="nav-item" *ngIf="!authSrv.isUserLoggedIn()" >
                    <a class="nav-link" [routerLink]="['/auth/login']"  >Login</a>
                </li>
                <li class="nav-item" *ngIf="!authSrv.isUserLoggedIn()">
                    <a class="nav-link" [routerLink]="['/auth/register']" >Register</a>
                </li>
                <li class="nav-item" *ngIf="authSrv.isUserLoggedIn()">
                    <a class="nav-link" (click)="authSrv.logOut()" >logout</a>
                </li>
            </ul>
        </div><!-- /.nav-collapse -->

    </div><!-- /.container -->

</nav><!-- /.navbar -->
