<div class="form-group">
<div id="booking" class="section">
    <div class="section-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="booking-cta">
              <h1>Book your flight today</h1>
              <p>Remember, you only live once, so start traveling to different places and get some life-altering experiences.</p>
            </div>
          </div>
          <div class="col-md-7 col-md-offset-1">
            <div class="booking-form">
              <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <div class="form-checkbox">
                    <label for="roundtrip">
                      <input [ngClass]="{'active':!search.oneway}" type="radio" id="roundtrip" value="true" (click)="updateBookingType(false)" name="flight-type">
                      <span></span>Roundtrip
                    </label>
                    <label for="one-way">
                      <input [ngClass]="{'active':search.oneway}" type="radio" id="one-way" (click)="updateBookingType(true)" name="flight-type">
                      <span></span>One way
                    </label>

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Flying from</span>
                      <input class="form-control" list="oCities"  (focus)="searchForm.get('originCity').setValue('')" formControlName="originCity" type="text" placeholder="City or airport">
                      <div *ngIf="submitted && f.originCity.errors" class="invalid-feedback">
                        <div *ngIf="f.originCity.errors.required">Required</div>
                      </div>
                      <datalist id="oCities" *ngIf="filteredOriginCities.length>0">
                        <option (change)="valueSelected(city, true)"  *ngFor="let city of filteredOriginCities">
                          {{city.charAt(0).toUpperCase() + city.slice(1).toLowerCase()}}
                        </option>
                      </datalist>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Flyning to</span>
                      <input class="form-control" list="dCities" (focus)="searchForm.get('destinationCity').setValue('')"
                      formControlName="destinationCity" type="text" name="destinationCity" placeholder="City or airport">

                      <div *ngIf="submitted && f.destinationCity.errors" class="invalid-feedback">
                        <div *ngIf="f.destinationCity.errors.required">Required</div>
                      </div>
                      <datalist id="dCities" *ngIf="filteredDestinationCities.length>0">
                        <option (click)="valueSelected(city, false)"  *ngFor="let city of filteredDestinationCities">
                          {{city.charAt(0).toUpperCase() + city.slice(1).toLowerCase()}}
                        </option>
                      </datalist>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Departing</span>
                      <input type="date" class="form-control" required data-placeholder="Departure Date" id="departdate"
        pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" name="departureDate" required
        aria-required="true" formControlName="departureDate" [ngClass]="{ 'is-invalid': submitted && f.departureDate.errors }" />
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="!search.oneway">
                    <div class="form-group">
                      <span class="form-label">Returning</span>
                      <input type="date" class="form-control" required data-placeholder="Return Date" id="returndate"
          pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" name="returnDate"  aria-required="true"
          formControlName="returnDate" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <span class="form-label">Adults (18+)</span>
                      <input type="number" class="form-control" required min=1 formControlName="passengers" placeholder="Passengers" id="passengers"
                        name="passengers" />
                      <div *ngIf="submitted && f.passengers.errors" class="invalid-feedback">
                        <div *ngIf="f.passengers.errors.required">Required</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <span class="form-label">Children (0-17)</span>
                      <select class="form-control">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div>
                  <div class="col-md-4">
                      <span class="form-label">Travel class</span>
                      <select class="form-control">
                        <option>Economy class</option>
                        <option>Business class</option>
                        <option>First class</option>
                      </select>
                      <span class="select-arrow"></span>

                  </div>
                </div>
                <div class="form-btn">
                  <button type="submit" class="submit-btn">Show flights</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- services -->
<section class="services" id="services">
	<h3 class="title-agileits-w3layouts">Our Services</h3>
	<label class="agile-se"></label>
	<div class="w3l-serv">
		<div class="container">
			<div class="col-md-4 col-sm-4 col-xs-4 serv-agile s1">
				<div class="w3-agile">
					<a href="#" class="hvr-rectangle-out"><i class="fa fa-plane" aria-hidden="true"></i></a>
				</div>
        	<h4 class="text-center">Travel Arrangements</h4>
				<p class="title-agileits-w3layouts">We help customer with well-planned arrangements that can help to reduce stress and make the business trip more productive. </p>

			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 serv-agile s2">
				<div class="w3-agile">
					<a href="#" class="hvr-rectangle-out"><i class="fa fa-suitcase" aria-hidden="true"></i></a>
				</div>
				<h4 class="text-center">Special Activities</h4>
				<p class="title-agileits-w3layouts">We help customer with well-planned arrangements that can help to reduce stress and make the business trip more productive. </p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 serv-agile s3">
				<div class="w3-agile">
					<a href="#" class="hvr-rectangle-out"><i class="fa fa-globe" aria-hidden="true"></i></a>
				</div>
				<h4 class="text-center">Beautiful Places</h4>
				<p class="title-agileits-w3layouts">We help customer with well-planned arrangements that can help to reduce stress and make the business trip more productive. </p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 serv-agile s4">
				<div class="w3-agile">
					<a href="#" class="hvr-rectangle-out"><i class="fa fa-calendar" aria-hidden="true"></i></a>
				</div>
				<h4 class="text-center">Fast Booking</h4>
				<p class="title-agileits-w3layouts">We help customer with well-planned arrangements that can help to reduce stress and make the business trip more productive. </p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 serv-agile s5">
				<div class="w3-agile">
					<a href="#" class="hvr-rectangle-out"><i class="fa fa-users" aria-hidden="true"></i></a>
				</div>
				<h4 class="text-center">Support Team</h4>
				<p class="title-agileits-w3layouts">We help customer with well-planned arrangements that can help to reduce stress and make the business trip more productive. </p>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 serv-agile s6">
				<div class="w3-agile ">
					<a href="#" class="hvr-rectangle-out"><i class="fa fa-cutlery" aria-hidden="true"></i></a>
				</div>
				<h4 class="text-center">Restaurants</h4>
				<p class="title-agileits-w3layouts">We help customer with well-planned arrangements that can help to reduce stress and make the business trip more productive. </p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</section>
<!-- //services -->

  <!-- gallery -->
  <div class="gallery" id="gallery">
  <div class="container">
  	<h3 class="title-agileits-w3layouts">Popular Destinations</h3>
  	<div class="gallery-grids-top">
  		<div class="gallery-grids">
  			<div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img">
  				<a class="example-image-link w3-agilepic" href="assets/img/s1.jpg" data-lightbox="example-set" data-title="">
  					<img class="example-image img-responsive" src="assets/img/s1.jpg" alt=""/>
  					<div class="w3ls-overlay">

  					</div>
  				</a>
  			</div>
  			<div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img hover ehover14">
  				<a class="example-image-link w3-agilepic" href="assets/img/s2.jpg" data-lightbox="example-set" data-title="">
  					<img class="example-image img-responsive" src="assets/img/s2.jpg" alt=""/>
  					<div class="w3ls-overlay">

  					</div>
  				</a>
  			</div>
  			<div class="col-md-4 col-sm-4 col-xs-6 gallery-grid-img hover ehover14">
  				<a class="example-image-link w3-agilepic" href="assets/img/s3.jpg" data-lightbox="example-set" data-title="">
  					<img class="example-image img-responsive" src="assets/img/s3.jpg" alt=""/>
  					<div class="w3ls-overlay">

  					</div>
  				</a>
  			</div>
  			<div class="col-md-6 col-sm-6 col-xs-6 gallery-grid-img gallery-mdl hover ehover14">
  				<a class="example-image-link w3-agilepic" href="assets/img/s4.jpg" data-lightbox="example-set" data-title="">
  					<img class="example-image img-responsive" src="assets/img/s4.jpg" alt=""/>
  					<div class="w3ls-overlay">

  					</div>
  				</a>
  			</div>
  			<div class="col-md-6 col-sm-6 col-xs-6 gallery-grid-img gallery-mdl hover ehover14">
  				<a class="example-image-link w3-agilepic" href="assets/img/s5.jpg" data-lightbox="example-set" data-title="">
  					<img class="example-image img-responsive" src="assets/img/s5.jpg" alt=""/>
  					<div class="w3ls-overlay">

  					</div>
  				</a>
  			</div>

  			<div class="clearfix"> </div>
  		</div>
  	</div>
  </div>
  </div>
  <!-- //gallery -->

  
